<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/../static/css/main.css">
    <link rel="stylesheet" href="/../static/css/modal.css">
    <link rel="stylesheet" href="/../static/css/one_test.css">
    <link rel="stylesheet" href="/../static/css/tests.css">
    <link rel="stylesheet" href="/../static/css/access.css">
    <link rel="stylesheet" href="/../static/css/one_result.css">
    <link rel="stylesheet" href="/../static/css/passing.css">
    <link rel="stylesheet" href="/../static/css/solve.css">
    <link rel="icon" href="/../static/img/logo.png">
    <script src="https://cdn.jsdelivr.net/gh/ryangjchandler/spruce@0.6.0/dist/spruce.umd.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.3.5/dist/alpine.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios@1.1.2/dist/axios.min.js"></script>
    <meta charset="UTF-8">
    <title>Тест: {{ .test.Title }}</title>
</head>
<body>
    <div class="container solve__container">
        <div class="solve">
            <h1>{{ .test.Title }}</h1>
            <h3>Время прохождения: {{ .access.PassageTime }} мин.</h3>
            <h3>Количество вопросов: {{ .test.Count }}</h3>
        </div>
    </div>
</body>
</html>