<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/../static/css/main.css">
    <link rel="stylesheet" href="/../static/css/modal.css">
    <link rel="stylesheet" href="/../static/css/one_test.css">
    <link rel="stylesheet" href="/../static/css/tests.css">
    <link rel="stylesheet" href="/../static/css/access.css">
    <link rel="stylesheet" href="/../static/css/one_result.css">
    <link rel="stylesheet" href="/../static/css/passing.css">
    <link rel="stylesheet" href="/../static/css/solve.css">
    <link rel="icon" href="/../static/img/logo.png">
    <script src="https://cdn.jsdelivr.net/gh/ryangjchandler/spruce@0.6.0/dist/spruce.umd.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.3.5/dist/alpine.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios@1.1.2/dist/axios.min.js"></script>
    <title>Тест: {{ .test.Title }}</title>
</head>
<body>
    <div class="container solve__container" x-data x-subscribe>
        <div class="solve">
            <h1 class="question__form__title">Название теста: <span class="solve__char">{{ .test.Title }}</span></h1>
            <h3 class="solve__subtitle">
                Время прохождения: <span class="solve__char">{{ .access.PassageTime }} мин.</span>
            </h3>
            <h3 class="solve__subtitle">
                Количество вопросов: <span class="solve__char">{{ .test.Count }}</span>
            </h3>
            <div class="base__button edit" id="startButton">
                Начать прохождение
            </div>
            <template x-for="question in $store.data.questions">
                <div x-text="question.text">

                </div>
            </template>
        </div>
    </div>
    <script type="module" src="/../static/js/solve.js">

    </script>
</body>
</html>